<app-header></app-header>
<img src="assets/restaurant1.jpg" style="width: 100%;"/>
<h2>Welcome to Kantamneni's Restaurant</h2>
<p>
    We are a friendly, family owned and managed English restaurant, located in the village of Rajeev Nagar close to 
    Ameerpet, SR Nagar, Mothi Nagar, BoraBonda and Nature cure rail station.Established since 2020, Doug Long continues to offer a very individual 
    and unique dining experience specialising in fish, seasonal game and home made traditional English puddings.
</p>
<p>
    The restaurant caters for up to 40 covers over two dining areas with a separate bar area and pleasant garden dining 
    area to enjoy during the summer months.
</p>