<app-header></app-header>
<img src="assets/restaurant7.jpg" style="width: 100%;height: 500px;"/>
<h3>About Us</h3>
<p>
    We are an individual and unique privately run and managed restaurant offering innovative English based cuisine. 
    Our specialities are fish, game and our home made traditional English puddings.
</p>

<p>
    The restaurant has been established since 2020 and Doug and Christine Long continue to offer a very varied and 
    regularly changing menu. The quality and attention to detail is always consistent at Kantamneni's Restaurant because all of our 
    food is cooked and prepared in house by chef/proprietor Doug Long. Christine manages front of house and is always 
    on hand to advise you on todays specials and wines.
</p>

<p>
    The restaurant seats 40 covers over two dining rooms and also has a small bar area for pre-dinner drinks. 
    The restaurant is intimate and cosy and is ideal for party bookings, business lunches family gatherings, small weddings ,
    garden parties and intimate dinners for two. During the summer there is a pretty shaded garden, with further seating for 50 people. 
    We can also supply fixed price and buffet menus for larger parties.
</p>

<p>
    We hold regular Special Evenings and Theme Nights.e.g. St Georges Day 23rd April. 
    Mediterranean Evenings with “belly dancer”. Spanish and Italian evenings, quiz nights etc. Garden parties and B.B.Q,s
</p>

<p>
    Kantamneni's Restaurant is located ten minutes from Ameerpet, SR Nagar, HitechCity, BanjaraHills and JubliHills.
</p>