<app-header></app-header>
<div class="container">
    <img src="assets/restaurant2.jpg" style="width: 100%;" />
    <h3>Sunday Lunch Menu</h3>
    <p>Please note, our menu&nbsp; is subject to changes</p>
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>Starters</strong></p>
    <p style="text-align: center;">Chicken Liver Pate + Relish = Crusty Bread</p>
    <p style="text-align: center;">Creamy Leek and Potato Soup</p>
    <p style="text-align: center;">Pan fried Black Pudding + Cider Cream Sauce</p>
    <p style="text-align: center;">Baked Garlic Mushrooms +Melted Cheddar</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong>Mains</strong></p>
    <p style="text-align: center;">Poached Salmon+Dill and Vermouth Sauce</p>
    <p style="text-align: center;">&nbsp;Breast of Chicken +White Wine and Mushroom Sauce</p>
    <p style="text-align: center;">Roast Rack of Lamb + Mint Sauce</p>
    <p style="text-align: center;">Aberdeen Angus Roast Beef + Yorkshire Pud</p>
    <p style="text-align: center;">&nbsp; Roast Pork + Apple</p>
    <p style="text-align: center;">Prime Aberdeen Angus Medallions of Fillet of Beef +Béarnaise&nbsp; Sauce <span
            style="color: #ff0000;">£3.50 Supp</span></p>
    <p style="text-align: center;">Goats Cheese and Red Onion Puff Pastry Tart+&nbsp; Roasted Red Pepper Sauce</p>
    <p style="text-align: center;"><strong>DESSERTS</strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">Hot Black Cherries&nbsp; +&nbsp; Vanilla ice cream</p>
    <p style="text-align: center;">Warm Chocolate Brownie +&nbsp; Cream</p>
    <p style="text-align: center;">Apple Crumble+&nbsp; Custard</p>
    <p style="text-align: center;">Bread and Butter Pudding + Custard</p>
    <p style="text-align: center;">&nbsp;Cheese Board + Biscuits + Relish&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong><span style="color: #808080;">2 COURSES £18.95- 3 COURSES £22.95<br>
                (CHILDRENS HALF-PORTIONS – 2 COURSES: £12.95 3 COURSES; £14.95)</span></strong></p>
    <p style="text-align: center;"><strong><span style="color: #808080;">A DISCRETIONARY 10% SERVICE CHARGE WILL BE
                ADDED TO PARTIES OF 8 OR MORE</span></strong></p>
</div>