<app-header></app-header>
<div class="container">
    <img src="assets/restaurant3.jpg" style="width: 100%;"/>
    <h3>Main Menu</h3>
    <p>Please note, menus are subject to daily changes.</p>
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>Starters</strong><span style="color: #808080;"><strong>&nbsp;</strong></span>
    </p>
    <p style="text-align: center;">Goats Cheese + Red Onion+Pesto + puff pastry tartlet+ on Roasted Red Pepper sauce-
        <span style="color: #808080;"><strong>£6.95</strong></span></p>
    <p style="text-align: center;">Today’s Soup – <span style="color: #808080;"><strong>£5.25</strong></span></p>
    <p style="text-align: center;">Large Prawns pan fried in Garlic Butter – <strong><span
                style="color: #808080;">£6.95</span></strong></p>
    <p style="text-align: center;">&nbsp;Chicken Liver Pate + Relish + Melba Tost- <span
            style="color: #808080;"><strong>£6.25</strong></span></p>
    <p style="text-align: center;">Grilled Halloumi + Sweet Chill Dip- <span
            style="color: #808080;"><strong>£6.95</strong></span></p>
    <p style="text-align: center;">Vegetable Spring Rolls + Plum Sauce&nbsp; – <span
            style="color: #808080;"><strong>£6.25</strong></span></p>
    <p style="text-align: center;">&nbsp;Baked Garlic Mushrooms + Topped with melted Cheddar- <strong><span
                style="color: #808080;">£6.25</span></strong></p>
    <p style="text-align: center;">Pan Fried Black Pudding + Apple +Cider Cream Sauce- <span
            style="color: #808080;"><strong>£5.95</strong></span></p>
    <p style="text-align: center;">Baked Egg and diced Chorizo- <span style="color: #808080;"><strong>£
                6.45</strong></span></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">Sourdough Garlic toast <span
            style="color: #808080;"><strong>£2.95</strong></span>&nbsp;with cheese <span
            style="color: #808080;"><strong>£3.45</strong></span>,&nbsp;</p>
    <p style="text-align: center;">jar of olives <span style="color: #808080;"><strong>£3.00</strong></span> Fries <span
            style="color: #808080;"><strong>£3.00</strong></span></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong>Main Courses</strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">Aberdeen Angus Medallions of Fillet of Beef + Peppercorn Sauce <span
            style="color: #808080;"><strong>£19.95</strong></span></p>
    <p style="text-align: center;">Poached Salmon&nbsp; + Prawn Sauce <span
            style="color: #808080;"><strong>£16.95</strong></span></p>
    <p style="text-align: center;">Roast Breast of Duck + Orange and Honey Sauce –<span
            style="color: #808080;"><strong>£17.95</strong></span></p>
    <p style="text-align: center;">Thick cut Pork Loin + + Apple +Black Pudding +Cider Cream Sauce- <span
            style="color: #999999;"><strong>£16.95</strong></span></p>
    <p style="text-align: center;">Baked Fillet of Sea Bass + Ginger, Garlic and Coriander&nbsp; <strong><span
                style="color: #808080;">£19.95</span></strong></p>
    <p style="text-align: center;"><span style="color: #808080;"><span style="color: #000000;">Crusted Roast Rack of
                Lamb + Buttered Spinach + Madeira Gravy&nbsp;</span> –<strong>£19.25</strong></span></p>
    <p style="text-align: center;">Cajun Breast of Chicken + Mixed Pepper Salsa <span
            style="color: #808080;"><strong>£16.75</strong></span></p>
    <p style="text-align: center;">Chestnut Roast + Minted Cranberry Sauce – <strong><span
                style="color: #808080;">£15.95</span></strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><span style="color: #808080;"><strong>All main courses served with today’s vegetables
                and potatoes.</strong></span></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong>Desserts</strong></p>
    <p style="text-align: center;"><span style="text-decoration: underline;">ALL – <span
                style="color: #808080; text-decoration: underline;"><strong>£5.95</strong></span></span></p>
    <p style="text-align: center;">Steamed Syrup and Sultana sponge+ Custard</p>
    <p style="text-align: center;">&nbsp;Hot black cherries and brandy on vanilla ice cream</p>
    <p style="text-align: center;">&nbsp;Bread and Butter pudding + custard</p>
    <p style="text-align: center;">Chocolate Brownie + Double Chocolate Ice Cream</p>
    <p style="text-align: center;">Apple Crumble + Custard</p>
    <p style="text-align: center;">Sticky Toffee Pudding + Cream</p>
    <p style="text-align: center;">Cheese Menu: 3 cheeses – <span style="color: #808080;"><strong>£7.95</strong></span>
    </p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><span style="color: #808080;"><strong>A DISCRETIONARY 10% SERVICE CHARGE WILL BE
                ADDED TO PARTIES OF 8 OR MORE</strong></span></p>
</div>