<app-header></app-header>
<div class="container">
    <img src="assets/restaurant4.jpg" style="width: 100%;" />
    <h3>Lunch &amp; Early Evening Menu</h3>
    <p>Please note, menus are subject to daily changes – available Lunch Tuesday to Friday and early evening (Pre 7.30)
        Tuesday to Thursday.</p>
    <p style="text-align: center;"><span style="text-decoration: underline;"><strong><span style="font-size: 18pt;">PRIX
                    FIXE MENU OF THE DAY</span></strong></span></p>
    <p style="text-align: center;"><strong>Starters</strong></p>
    <p style="text-align: center;">Chicken Liver Pate + Relish + Leaves</p>
    <p style="text-align: center;">Baked Garlic Mushrooms + Topped with Cheddar</p>
    <p style="text-align: center;">Todays Soup + Croutons</p>
    <p style="text-align: center;">Pan fried Black Pudding+ Cider Cream Sauce</p>
    <p style="text-align: center;"><span style="color: #000000;">&nbsp;</span></p>
    <p style="text-align: center;"><strong>Main Courses</strong></p>
    <p style="text-align: center;">Ham and Fried Eggs+Saute Potatoes</p>
    <p style="text-align: center;">Steak Pie+Puff Pastry Lid + Fries</p>
    <p style="text-align: center;">Salmon Fishcake+ Tartare Sauce + Fries</p>
    <p style="text-align: center;">Crispy Roast Belly of Pork +Apple Sauce +&nbsp; Roast Potatoes</p>
    <p style="text-align: center;">Goats Cheese and Red Onion Puff Pastry Tart+ Dressed Leaves</p>
    <p style="text-align: center;"><strong>Desserts</strong></p>
    <p style="text-align: center;">Hot Black Cherries + Vanilla Ice Cream</p>
    <p style="text-align: center;">Bread and Butter Pudding + Custard</p>
    <p style="text-align: center;">Warm Chocolate Brownie + Double Chocolate Ice Cream</p>
    <p style="text-align: center;">Snowdonia Black Bomber Cheese</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong>Extras</strong></p>
    <p style="text-align: center;">Garlic Bread £2.95, with Cheese £3.45 Fries £3&nbsp;</p>
    <p style="text-align: center;">Todays vegetables £3 Dressed Salad £2.50</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><span style="color: #808080;"><strong>1 COURSE – £9.95, 2 COURSES – £12.95, 3 COURSES
                – £15.95 </strong></span></p>
    <p style="text-align: center;"><span style="color: #808080;"><strong>A DISCRETIONARY 10% SERVICE CHARGE WILL BE
                ADDED TO PARTIES OF 8 OR MORE</strong></span></p>
</div>