<app-header></app-header>

<div class="container">
    <img src="assets/wine-gallery-counter.jpg" style="width: 100%;" />
    <h3>Wine List</h3>
    <p>At Kantamneni's Restaurant we have an extensive wine and drinks selection for you to enjoy with your meal. Simply
        click on the Image below to open a list of our full range as a PDF document to view or download:</p>
    <p><a href="assets/IL_PriceList.pdf" target="_blank" rel="noopener">
        <img title="Wine List 2018" style="display: block;margin-left: auto;margin-right: auto;" src="assets/wineglass.jpg"/></a></p>
    <p style="text-align: center;"><em>Click image to view</em></p>
</div>