<div class="container">
    <div style="text-align: center;">
        <h1>Kantamneni's Restaurant</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="float: left;padding-top: 20%;">
            <div class="form-group">
                <button class="form-control" routerLink="/login/admin">Admin Login</button>
            </div>
            <div class="form-group">
                <button class="form-control" routerLink="/login/staff">Staff Login</button>
            </div>
            <div class="form-group">
                <button class="form-control" routerLink="guest">Guest</button>
            </div>
        </div>
        <div class="col-md-8" style="float: right;">
            <img src="assets/baby.jpg" style="width: 100%;" />
        </div>
    </div>
</div>